body{
    font-family: 'Fugaz One', cursive;
    font-family: 'Poppins', sans-serif;
}
/*-------------- 
    carousel 
----------------*/
.carousel-item img{
    width: 1440px;
    height: 584px;
}
#btn-hero{
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 5px;
    color: #3F87F5;
    font-weight: 600;
}
/*--------------- 
    our package 
-----------------*/
#button{
    text-decoration: none;
    background-color: #ffe1f4;
    padding: 10px 25px;
    border-radius: 20px;
    color: #3F87F5;
    font-weight: normal;
}